#header
  %h1 #compsoc AJAX regex search
#content
  %p{ id: 'form' }
    Type REGEX here:
    %input{ type: 'text', id: 'search_box', :class => 'grey-box'}
    %br
    The last 30 results will be shown.
    #result_box{ :class => 'grey-box' }
